.git
.env
.env.*
**/.env
**/.env.*
scripts
**/scripts
*.py
**/*.py
docs
entrega_examen
assets/documentacion
.runtime
**/.runtime
**/node_modules
**/vendor
**/tests
**/test
**/database/factories
**/database/seeders
**/database/*.sqlite*
**/storage/logs/*
